@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

.caro_up {
  position: relative;
}
.caro_img {
  height: 100vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.caro_head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@keyframes slide-in {
  from {
    transform: rotate(60deg) translateY(-100%) scale(20);
    opacity: 0.5;
  }
  to {
    transform: scale(0.5) rotate(0deg) translateY(-100%);
    opacity: 1;
  }
}
.caro_h2 {
  z-index: 1000;
  font-size: 4rem;
  font-weight: 400;
  position: absolute;
  top: 400px;
  left: 150px;
  color: yellow;
  animation: slide-in 1000ms;
  animation-delay: 4ms;
  transition: 5s ease-in-out;
  font-family: 'Satisfy', cursive;
}
.caro_para {
  z-index: 1000;
  font-size: 2.5rem;
  position: absolute;
  top: 440px;
  left: 250px;
  color: yellow;
  animation-delay: 4ms;
  animation: slide-in 1000ms;
  transition: 5s ease-in-out;
  margin-top: 1rem;
}
.caro_border {
  border: 5px solid #fff;
  z-index: 1000;
}
@media screen and (max-width: 900px) {
  .caro_h2 {
    font-size: 2rem;
    left: 50px;
    animation: none;
  }
  .caro_p {
    font-size: 1.2rem;
    left: 50px;
  }
  .caro_img {
    height: 100vh;
    object-fit: cover;
  }
  .caro_para {
    /* display: none; */
    top: 440px;
    left: 50px;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
  }
}
